name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby-version: [3.0.3, 2.7.5, 2.6.9]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
      - name: Install dependencies
        run: sudo apt-get install libzmq3-dev
      - name: Install gems
        run: bundle install
      - name: Run tests
        run: bundle exec rake test integration
      - name: Install appraisals
        run: bundle exec appraisal install
      - name: Run appraisals
        run: bundle exec appraisal rake test integration
